.iconHolder{
margin:5%;
width:10vw;
height:10vw;
border-style:dotted;
border-color:black;
}
#spinningHamburger{
    border-color:teal;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#sHBarTop{
    position:relative;
}
#spinningHamburger:hover > #sHBarTop {
    animation-duration:1s;
    animation-delay:0.5s;
    animation-name:clapDown; }
#sHBarMid{
    position:relative;
} 
#spinningHamburger:hover > #sHBarMid { 
    animation-duration:1s;
    animation-delay:0.6s;
    animation-name:midSqueeze;
 }
 #sHBarBott{
     position:relative;
 }
#spinningHamburger:hover > #sHBarBott { 
    animation-duration:1s;
    animation-delay:0.5s;
    animation-name:clapUp; }
@keyframes clapDown {
    0% {
        top: 0px;
      }
      50% {
        top:2em;
      }
      100% {
        top: 0px;
}}
@keyframes midSqueeze{
       0% {
       height:10%
      }
      50% {
        height:1%        
      }
      100% { height:10%;
       
}}
@keyframes clapUp {
    0% {
        bottom: 0px;
      }
      50% {
        bottom:2em;
      }
      100% {
        bottom: 0px;
}}
.sHBar{
margin:5%;
width:60%;
height:10%;
border-radius:5%;
background-color:grey;
}
#sHBarTop{
}
#sHBarMid{
}
#sHBarBott{
}