.iconHolder{
margin:5%;
width:2vw;
height:2vw;
border-style:dotted;
border-color:black;
}

#movingAnglesRight{
  display:flex;
  flex-direction:row;
}
#movingAnglesRight >i{
  
  font-size:100%;
  color:grey;
}
#movingAnglesRight:hover > #rightAngleOne {animation-name:pop;
  animation-duration:1s;
  animation-delay:0s;
  animation-iteration-count: infinite;}
#movingAnglesRight:hover > #rightAngleTwo {  animation-name:pop;
  animation-duration:1s;
  animation-delay:0.2s;
  animation-iteration-count: infinite;}
#movingAnglesRight:hover > #rightAngleThree{  animation-name:pop;
  animation-duration:1s;
  animation-delay:0.3s;
  animation-iteration-count: infinite;}

@keyframes pop{
  0%{font-size:100%}
  50%{font-size:150%;}
  100%{font-size:100%;}
}




/* */
#squeezingHamburger{
 
    border-color:teal;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#sHBarTop{
    position:relative;
}
#squeezingHamburger:hover > #sHBarTop {
  animation-iteration-count: infinite;
    animation-duration:1s;
    animation-delay:0.2s;
    animation-name:clapDown; }
#sHBarMid{
    position:relative;
} 
#squeezingHamburger:hover > #sHBarMid { 
  animation-iteration-count: infinite;
    animation-duration:1s;
    animation-delay:0.5s;
    animation-name:midSqueeze;
 }
 #sHBarBott{
     position:relative;
 }
#squeezingHamburger:hover > #sHBarBott { 
  animation-iteration-count: infinite;
    animation-duration:1s;
    animation-delay:0.2s;
    animation-name:clapUp; }
@keyframes clapDown {
    0% {
        top: 0%;
      
      }
    10% {top:-10%}
      50% {
        top:20%;
        background-color:rgb(66, 63, 63);
      }
      100% { 
        top: 0%;
}}
@keyframes midSqueeze{
    0%{height:10%;}
    25%{ height:0%;
      background-color:rgb(66, 63, 63);}

    100% { height:10%;
       
}}
@keyframes clapUp {
    0% {
        bottom: 0%;
        
      }
    10% {bottom:-10%;}
      50% {
        bottom:20%;
        background-color:rgb(66, 63, 63);
      }
      100% {
        bottom:0%;
}}
.sHBar{
margin:5%;
width:60%;
height:10%;
border-radius:5%;
background-color:grey;
}
/* #sHBarTop{ 
}
#sHBarMid{
}
#sHBarBott{
} */
#movingChocolatePads{
  display:flex;
  flex-wrap:wrap;
  height:2vw;
  width:2vw;
}
.movingPad{
  flex:1 1 4%;
  background-color:grey;
  border-style:solid;
  border-color:white;
  height:auto;
  width:6.25%;
}